<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="static/css/normalize.css">
    <link rel="stylesheet" href="static/css/main.css">
    <link rel="stylesheet" type="text/css" href="static/css/style1.css"/>
</head>
<body>
<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
    your browser</a> to improve your experience and security.</p>
<![endif]-->
<div class="wrapper">
    <h2 class="title">{{title}}</h2>
    <div>
        <img src="{{pic}}">
    </div>
    <h4 class="material">原料:</h4>
    <ul class="mdetial">		
    	{% for i in ingred %}
    	<li>{{i.name}} <span>{{i.count}}</span></li>
	{% endfor %}
    </ul>

	<p>制作步骤：</p>
	{% for i in step %}
	<p>{{i.step}}</p>
	<div>
	<img src="{{i.imgpath}}">
	</div>
	{% endfor %}
</div>
</body>
</html>
