<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>
<body>
<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
    your browser</a> to improve your experience and security.</p>
<![endif]-->
<div class="wrapper">
    <h3 class="title">{{title}}</h3>
    <div>
        <img src="{{pic}}">
	<p>原料：</p>
	{% for i in ingred %}
    	<p>{{i.name}}  {{i.count}}</p>
	{% endfor %}
	<br>
	<p>制作步骤：</p>
	{% for i in step %}
	<p>{{i.step}}</p>
	<img src="{{i.imgpath}}">
	{% endfor %}
    </div>
</div>

</body>
</html>
